* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

.main_container {
    display: grid;
    gap: 10px;
    grid-template-areas:
        "header header header header"
        "sider sider main_content main_content"
        "footer footer footer footer";
    background-color: #f08143;
    height: 80vh;
}

.item {
    border: 2px solid yellow;
}

.header {
    grid-area: header;
}

.sider {
    grid-area: sider;
}

.main_content {
    grid-area: main_content;
}

.footer {
    grid-area: footer;
}

.ex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.ex img {
    width: 250px;
}

a {
    text-decoration: none;
    background-color: royalblue;
    padding: 10px;
}